<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="comment_form">
        <%= render 'comments/form' %>
      </section>
      <section>
        <%= will_paginate @following %>
        <% @following.in_groups_of(4, false).each do |group| %>
          <div class='row'>
            <% group.each do |author| %>
              <div class='col-md-3'>
                <%= gravatar_for author, size: 50, :class => "img-gravatar" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </section>
    </aside>
     <div class="col-md-8">
        <h3>Comment Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome</h1>

    <h2>
      This is the home page for Photo Scroll
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

<% end %>

fkU9mEn0aBamCnuVI0tV2A
