<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="comment_form">
        <%= render 'comments/form' %>
      </section>
      <section>
        <h2><%= @author.username %> is following:</h2>
        <%= will_paginate @following %>
        <% @following.in_groups_of(4, false).each do |group| if @following %>
          <div class='row'>
            <% group.each do |author| %>
              <div class='col-md-3'>
                <%= author.username %>
                <%= link_to (gravatar_for author, size: 50, :class => "img-gravatar"), username_path(author.username) %>
              </div>
            <% end %>
          </div>
        <% end %>
        <% end %>
      </section>
    </aside>
     <div class="col-md-8">
        <h3>Comment Feed</h3>
        <% if @user %>
          <%= render 'shared/feed'%>
        <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">


    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

