<div class='col-md-3'>

	<div class="add_favourite">
		<div class='col-md-4'>
			<% if !current_author?(message.author) && !current_author.favourites.include?(message) %>
				<%= link_to "Add?", favourite_message_path(id: message), method: :post %>
			<% end %>
			<% if current_author.favourites.include? message %>
				<%= link_to "Unadd?", unfavourite_message_path(id: message), method: :post %>
			<% end %>
		</div>
		<div class='col-md-8'>
			Favs: <%= message.favourites.count %>
		</div>
	</div>	
	<%= image_tag(message.picture.url, class: "img-responsive") %>
	<div class="caption">
	  <% if message.author != nil %>
	    <%= link_to message.author.username, message, :class => "img-name" %>
			<div class="gravatar">
				
				<%= gravatar_for message.author, size: 50, :class => "img-gravatar" %>
				<div class="effect">
					<%= truncate(message.contents, length: 20) %> <br/>
						<div style="display:inline;"class="follow">
							<% if message.author != nil and message.author != @author and not @author.follows.include?(message.author) %>
								<%= form_tag(follow_author_path(message.author)) do %>
									<%= submit_tag "Follow #{message.author.username}?", :class=>"btn btn-link" %>  
								<% end %>
							<% elsif @author.follows.include?(message.author) %>
								<%= form_tag(unfollow_author_path(message.author)) do %>
									<%= submit_tag "Unfollow #{message.author.username}?", :class=>"btn btn-link" %>
								<% end %>
							<% end %>
			      </div>	
				</div>
			</div>
		<% end %>
	</div>

</div>
