<p id="notice"><%= notice %></p>

<h2 style="text-align:center">
 
  <%= @author.username %>'s Page
</h2>
<p>Followers:<%= @author.followers.count %></p>
<p>Following: <%= @author.follows.count%> </p>
<p>Favourites:<%= link_to @author.favourites.count, list_favourites_path(:author => @author) %></p>
<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>
<div>
  <%= gravatar_for @author, size: 50 %>
</div>

<p>
  <strong>Description:</strong>
  <%= @author.profile %>
</p>
<% @inbox.each do |message| %>
<%= message.inspect %>
  <p><%= link_to(message.subject, inbox_author_path(:id => @author, :message => message.id)) %> | From <%= message.originator.username %> | sent at: <%= message.created_at %></p>
<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
