<p id="notice"><%= notice %></p>

<h2 style="text-align:center">
 
  <%= @author.full_name %>'s Page
</h2>

<p>
  <strong>Username:</strong>
   
  <%= @author.username %>
 
</p>
<div>
  <%= gravatar_for @author, size: 50 %>
</div>

<p>
  <strong>Description:</strong>
  <%= @author.profile %>
</p>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
