<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Description:</strong>
  <%= simple_format(@image.description) %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <img src="<%= @image.url%>">
</p>
<p>
	<strong>Rating:</strong>
	<%= simple_format("&#9734;" * (@image.rating / 20)) %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
