<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @image.rating %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
