<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="float:right">
	Signed in as: <strong><%= @user.full_name %></strong>
</div>

<%= form_tag(images_find_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "Search" %>
	<%= submit_tag "Search", :name => nil %>
<% end %>

<div style="display:table-cell; width: 200px;">
	<h1>Photos</h1>
	<ul>
		<li><%= link_to_unless_current 'All photos', :images %></li>
		<li><%= link_to_unless_current 'Fivestar photos', :images_fivestar %></li>
		<li><%= link_to_unless_current 'New photo', :new_image %></li>
	</ul>
</div>
<%= yield %>
<hr>
<h4>Copyright</h4>
<p> &#169; Copyright 2014 PhotoScroll Unltd.</p>
<hr>
</body>
</html>