<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Photo Scroll App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="float:right">
	Signed in as: <span style="font-weight: bold;"><%= @author.full_name %></span>
	| <%= link_to "Logout", :controller => "logins", :action => "logout" %>
</div>
<div style="float: left">
	<ul>
		<li><%= link_to_unless_current "All messages", :controller => "messages", :action => "index" %></li>
		<li><%= link_to_unless_current "Followed", :controller => "messages", :action => "streams", :stream => "followed" %></li>
		<li><%= link_to_unless_current "Favourites", :controller => "messages", :action => "streams", :stream => "favourites" %></li>
	</ul>
</div>
<%= yield %>
</body>
</html>