<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
	<div style="float:right">
		Signed in as: <span style="font-weight: bold;"><%= @author.full_name %></span>|
		<%= link_to "Logout", :controller => "logins", :action => "logout" %>
	</div>
	<div style="float: left">
		<ul>
			<li><%= link_to_unless_current "All messages", :controller => "messages", :action => "index" %></li>
			<li><%= link_to_unless_current "Followed", :controller => "messages", :action => "streams", :stream => "followed" %></li>
			<li><%= link_to_unless_current "Favourites", :controller => "messages", :action => "streams", :stream => "favourites" %></li>
		</ul>
	</div>
	<%= yield %>
	<%= render 'layouts/footer' %>
</div>
</body>
</html>
