<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="display:table-cell; width: 200px;">
<h1>TASKS</h1>
<ul>
<li><%= link_to_unless_current 'All tasks', :tasks %></li>
<li><%= link_to_unless_current 'Incomplete tasks', :tasks_incomplete %></li>
<li><%= link_to_unless_current 'New task', :new_task %></li>
</ul>
</div>
<%= yield %>

</body>
</html>