<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div style="float: right">
		Signed in as: <strong><%= @author.full_name %></strong>
	</div>

	<%= form_tag(tasks_search_path, :method => "get", id: "search-form") do %>
  		<%= text_field_tag :search, params[:search], placeholder: "Search" %>
   		<%= submit_tag "Search", :name => nil %>
  	<% end %>
  
	<div style="display:table-cell; width: 200px;">
		<h1>TASKS</h1>
		<ul>
			<li><%= link_to_unless_current 'All tasks', :tasks %></li>
			<li><%= link_to_unless_current 'Incomplete tasks', :tasks_incomplete %></li>
			<li><%= link_to_unless_current 'New task', :new_task %></li>
		</ul>
	</div>
	<%= yield %>
	<hr>
	<h4>Copyright</h4>
	<p> &#169; Copyright 2014 PhotoScroll Unltd.</p>
	<hr>
</body>
</html>